<launch>

    <arg name="gui" default="true" />
    <arg name="visualize_inertia" default="false" />
    <arg name="nicla" default="false" />
    <arg name="dagana_claws_type" default="centauro_claws" />

    <let name="xacro_file" value="$(find-pkg-share dagana_urdf)/urdf/dagana.urdf.xacro"/>
    <let name="robot_description_content" value="$(command 'xacro $(var xacro_file) 
                nicla:=$(var nicla)
                dagana_claws_type:=$(var dagana_claws_type)')"
    />

    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" exec="joint_state_publisher_gui">
        <param name="use_gui" value="$(var gui)"/>
        <param name="rate" value="50.0"/>
    </node>

    <node pkg="robot_state_publisher" exec="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <param name="robot_description" value="$(var robot_description_content)" />
        <param name="publish_frequency" value="250.0" />
    </node> 

    <node pkg="rviz2" exec="rviz2" name="rviz2" output="screen" if="$(var gui)" args="-d $(find-pkg-share dagana_urdf)/rviz/dagana.rviz">
    </node> 

    <node if="$(var visualize_inertia)" pkg="robot_inertia_publisher" exec="robot_inertia_publisher" name="robot_inertia_publisher" output="screen">
        <param name="robot_description" value="$(var robot_description_content)" />
    </node>

</launch>
