<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find dagana_urdf)/urdf/config/dagana_config.urdf.xacro" />

<xacro:macro name="dagana_gripper" params="name joint_type parent_link *origin">

    <joint name="${name}_mount_joint" type="fixed">
        <xacro:insert_block name="origin"/>
        <parent link="${parent_link}"/>
        <child link="${name}_top_link"/>
    </joint>


    <link name="${name}_top_link">
        <inertial>
            <origin xyz="${-6.3562154e+00*mmTom} ${-6.0265532e+00*mmTom}  ${6.0068288e+01*mmTom}" rpy="0 0 0"/>
            <mass value="1.7432400"/>
            <inertia ixx="${5.0510328e+03*mm2Tom2}" 
                     ixy="${-2.5264216e+02*mm2Tom2}" 
                     ixz="${-1.2103013e+02*mm2Tom2}" 
                     iyy="${4.7944612e+03*mm2Tom2}" 
                     iyz="${-7.3917704e+02*mm2Tom2}" 
                     izz="${3.1156997e+03*mm2Tom2}" />
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://dagana_urdf/meshes/dg0001-simplified.stl" scale="${mmTom} ${mmTom} ${mmTom}" />
            </geometry>
            <material name="dagana_dark_grey"/>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://dagana_urdf/meshes/dg0001-simplified_v2.stl" scale="${mmTom} ${mmTom} ${mmTom}" />
            </geometry>
        </collision>
    </link>


    <joint name="${name}_claw_joint" type="${joint_type}">
        <origin xyz="${0.0*mmTom} ${-28.00*mmTom} ${50.25*mmTom}" rpy="${PI_2} 0 ${PI}"/>
        <parent link="${name}_top_link"/>
        <child link="${name}_bottom_link"/>
        <axis xyz="-1 0 0"/>
        <limit effort="1000" lower="0" upper="1.3" velocity="10.0"/>
    </joint>


    <link name="${name}_bottom_link">
        <inertial>
            <origin xyz="0 ${6.9644767e+01*mmTom} 0" rpy="0 0 0"/>
            <mass value="4.6117745e-01"/>
            <inertia iyy="${9.3855569e+02*mm2Tom2}" 
                     iyz="${-2.6445200e+02*mm2Tom2}" 
                     ixy="${7.1346830e+01*mm2Tom2}" 
                     izz="${1.9472731e+03*mm2Tom2}" 
                     ixz="${2.5290650e+00*mm2Tom2}" 
                     ixx="${1.4726991e+03*mm2Tom2}" />
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://dagana_urdf/meshes/dg0002.stl" scale="${mmTom} ${mmTom} ${mmTom}" />
            </geometry>
            <material name="dagana_dark_grey"/>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://dagana_urdf/meshes/dg0002-ch.stl" scale="${mmTom} ${mmTom} ${mmTom}" />
            </geometry>
        </collision>
    </link>
    
    
    <!-- Manually put to have a transform in a "good" grasping spot-->
    <joint name="${name}_tcp_joint" type="fixed">
        <origin xyz="0 -0.05 0.15" rpy="0 0 0"/>
        <parent link="${name}_top_link"/>
        <child link="${name}_tcp"/>
    </joint>

    <link name="${name}_tcp"></link>  

    <gazebo reference="${name}_bottom_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="${name}_top_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- NICLA PART -->
    <xacro:if value="${NICLA_CAMERA}">
        <link name="nicla_camera"></link>  
        <joint name="base_to_camera" type="fixed">
            <origin xyz="0.0000044 -0.0234997 0.1039715" rpy="0 ${-PI/2} ${-PI/2}"/>
            <parent link="${name}_top_link"/>
            <child link="nicla_camera"/>
        </joint>

        <!-- gazebo simulated camera -->
        <gazebo reference="nicla_camera">
        <sensor type="camera" name="camera1">
        <update_rate>30.0</update_rate>
        <camera name="head">
            <horizontal_fov>0.69813</horizontal_fov>  <!-- 80deg 1.39626rad-->
            <image>
                <width>1616</width>
                <height>1232</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.1</near>
                <far>100</far>
          </clip>
        </camera>
        <plugin name="gazebo_ros_nicla_camera_controller" filename="libgazebo_ros_camera.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>0.0</updateRate>
            <cameraName>dagana/nicla_camera</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>nicla_camera</frameName>
        </plugin>
        </sensor>
        </gazebo>

    </xacro:if>

    <xacro:if value="${NICLA_TOF}">
        <link name="nicla_tof"></link>  
        <joint name="base_to_tof" type="fixed">
            <origin xyz="0.0000044 -0.0234997 0.1039715" rpy="0 ${-PI/2} 0"/>
            <parent link="${name}_top_link"/>
            <child link="nicla_tof"/>
        </joint>

        <!-- gazebo simulated tof -->
        <gazebo reference="nicla_tof">
        <sensor type="ray" name="nicla_tof">
        <pose>0 0 0 0 0 0</pose>
        <visualize>${nicla_tof_visualize}</visualize>
        <update_rate>60</update_rate>
        <ray>
            <scan>
            <horizontal>
                <samples>1</samples>
                <resolution>1</resolution>
                <min_angle>0</min_angle>
                <max_angle>0</max_angle>
            </horizontal>
            </scan>
            <range>
            <min>0.04</min>
            <max>3</max>
            <resolution>0.03</resolution>
            </range>
            <!-- <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.01</stddev>
            </noise> -->
        </ray>
        <plugin name="gazebo_ros_nicla_tof_controller" filename="libgazebo_ros_laser.so">
            <topicName>/dagana/nicla_tof</topicName>
            <frameName>nicla_tof</frameName>
        </plugin>
        </sensor>
        </gazebo>

    </xacro:if>


</xacro:macro>

</robot>
