<?xml version="1.0"?>
<launch>
    <!-- gazebo configuration parameters -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="physics" default="ode"/>
    <arg name="verbose" default="true"/>
    <arg name="extra_gazebo_args" default=""/>
    <arg name="rviz" default="true"/>
    <arg name="rviz_config" default="$(find dagana_urdf)/rviz/dagana.rviz"/>

    <arg name="gazebo_urdf" default="true"/>

    <!-- with nicla true, by default every sensor is true -->
    <xacro:arg name="nicla" default="true"/> 
    <!-- <xacro:arg name="nicla_camera" default="true"/>
    <xacro:arg name="nicla_tof" default="true"/>
    <xacro:arg name="nicla_tof_visualize" default="true"/>
    <xacro:arg name="nicla_imu" default="true"/> -->
    
    <!-- Load the URDF/SRDF into the ROS Parameter Server -->
    <let name="urdf_path" value="$(find-pkg-share dagana_urdf)/urdf/dagana.urdf.xacro"/>
    <let name="robot_description_content" value="$(command 'xacro $(var urdf_path) 
                nicla:=$(var nicla) 
                nicla_camera:=$(var nicla_camera) 
                nicla_tof:=$(var nicla_tof) 
                nicla_tof_visualize:=$(var nicla_tof_visualize) 
                nicla_imu:=$(var nicla_imu)')"
    />
  
    <include file="$(find-pkg-share gazebo_ros)/launch/empty_world.launch">
        <let name="paused" value="false"/>
        <let name="use_sim_time" value="true"/>
        <let name="gui" value="true"/>
        <let name="recording" value="false"/>
        <let name="debug" value="false"/>
        <let name="verbose" value="$(var verbose)"/>
        <let name="physics" value="ode"/>
    </include>


  	<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="dagana_urdf_spawner" pkg="gazebo_ros" exec="spawn_entity.py" respawn="false" output="screen"
            args="-entity dagana -topic robot_description"/>
        
    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" exec="joint_state_publisher_gui">
        <param name="use_sim_time" value="$(var use_sim_time)"/>
    </node>

    <node pkg="robot_state_publisher" exec="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" value="250.0" />
        <param name="use_sim_time" value="$(var use_sim_time)"/>
        <param name="robot_description" value="$(var robot_description_content)"/>
    </node> 
  
    <node if="$(var rviz)" pkg="rviz2" exec="rviz2" name="rviz2" output="screen" args="-d $(var rviz_config)">
        <param name="use_sim_time" value="$(var use_sim_time)"/>
    </node> 

</launch>
